/* General container styling */


/* Button styling */
.download-section button ,.ALL-button{
  background-color: #4CAF50;
  color: white;
  height: 40px;
  border: none;
  display: flex;
  padding: 12px 30px;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.download-section button:hover ,.ALL-button:hover {
  background-color: #45a049;
  transform: translateY(-5px);
}
.ALL-button{
  margin: 10px;
  width: 100px;
  padding: 0;
  font-size: 10px;
  text-align: center;
}
.ALL-button:disabled ,.download-section button:disabled{
  background-color: gray; /* Background color when disabled */
  color: rgb(239, 239, 239);       /* Text color when disabled */
  cursor: not-allowed;    /* Change cursor to indicate it's not clickable */
}
.Buttons{
  visibility: hidden ;
}
/* Document grid */
.documents  {
 
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Two-column layout */

}

/* Individual document box */
.document {
  background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
  width: 110px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For absolute positioning of the download icon */
  transition: background-color 0.3s, transform 0.2s;
}

.document i {
  font-size: 22px;
  margin-bottom: 10px;
}

.document span {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
}



/* Download icon at the bottom right */
.download-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: #4CAF50; /* Download icon color */
}
.main-download{
  padding: 25px;
  /*background: linear-gradient(to bottom, #8e44ad, #e0e0e0);  Gradient background */
  background: linear-gradient(45deg, #3a1c71, #d76d77, #ffaf7b);
  width: 100vw;
  height: 100vh;
  display: grid;

}
.download-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-loading div{
  font-size: larger;
text-align: center;
}
.Main-button{
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}
.toaster{
  position: fixed;
  
}
.document-container{
  display: flex;
  align-items: center;
}
.download-section{
  display: grid;
  grid-template-columns: 2.5fr 4fr;
  position: fixed;
  
  width: 100vw;
  top: 50px;
}
.popup-container{
  position: fixed;
  height: 20px;
}